/* rest */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix {
    content: '';
    display: table;
    clear:both;
}

.debag {
    border: 1px solid black;
}

.float-left {
    float: left;
}

.titolo-principale, .colonna-left, .parte-centrale, .colonna-right {
    background-color: aqua;
}

.colonna-left, .parte-centrale, .colonna-right {
    height: 200px;
    border-bottom: 10px solid blue;
}


/* PROVA - TEXT */
* {
    font-size: 20px;
    color: white;
    text-align: center;
}


header .logo.debag{
    height: 100px;
    background-color: rgb(255, 0, 255)
}

.logo.debag {
    height: 100px;
}

header nav {
    height: 100px;
}


.banner {
    height: 200px;
    margin-top: 20px;
    background-color: yellow;
}

.contenitore-layout {
    height: 200px;
    width: 100%;
}

.titolo-principale {
    margin-top: 20px;
    border-bottom: 10px solid blue;

}

.colonna-left {
    width: 25%;
}

.parte-centrale {
    width: 50%;
    border-left: 10px solid blue;
    border-right: 10px solid blue;

}

.colonna-right {
    width: 25%;
}

footer {
    height: 50px;
    background-color: rgb(54, 2, 54);
    margin-top: 10px;
}