/* rest */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 80%;
    margin: auto;
}

.clearfix {
    content: '';
    display: table;
    clear:both;
}

.debag {
    border: 1px solid black;
}

.float-left {
    float: left;
}

.titolo-principale, .colonna-left, .parte-centrale, .colonna-right {
    background-color: aqua;
}

.colonna-left, .parte-centrale, .colonna-right {
    height: 200px;
}

/* header */

header .contenitore-logo {
    height: 120px;
}

.logo-image {
    width: 150px;
    border-right: 1px solid #5b5656;
}

.contenitore-logo img {
    width: 120px;
}


header nav {
    height: 85px;
    line-height: 85px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    padding-right: 20px;
    color: rgb(75, 72, 72);
}


.banner {
    margin-top: 20px;
    height: 500px;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    position: relative;
    color: white;
    
}

.opacity {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
}

.banner-description {
    width: 50%;
    position: absolute;
    left: 50px;
    bottom: 100px;
    height: 100px;
    padding: 10px 0;
   
}

.banner-description h2 {
    font-size: 30px;
    line-height: 40px;

}

/* fine - header */

/* Inizio - main */
main {
    background-color: blue;
}

.contenitore-layout {
    height: 200px;
    width: 100%;
    border-bottom: 10px solid blue;
}

.titolo-principale {
    margin-top: 20px;
    margin-bottom: 10px;
  }

.colonna-left {
    width: 25%;
}

.parte-centrale {
    width: calc(50%);
    border-right: 10px solid blue;
    border-left: 10px solid blue;
}

.colonna-right {
    width: 25%;
}
/* Fine - main */

footer {
    height: 50px;
    background-color: rgb(54, 2, 54);
    margin-top: 10px;
}